body {
  font-family: Ubuntu, sans-serif;
  xfont-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}
h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.2em;
}
a {
  color: brown;
  text-decoration: none;
}
a:hover {
  color: green;
}

label {
  display: inline-block;
  width: 80px;
}
input[type=text],input[type=password] {
  width: 160px;
}
label.new_section {
  width: 150px;
}
