{% extends "base.html" %}
{% block content %}

<h1>{{ course.title }}</h1>

<form method="post" name="course_title">
  {{ course_title_form.hidden_tag() }}

  {{ course_title_form.title.label }}
  {{ course_title_form.title(value = course.title) }}
  {% for message in course_title_form.title.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  {{ course_title_form.submit }}

</form>

<p>New section</p>

<form method="post" name="new_section">

  {{ new_section_form.title.label(class="new_section") }}
  {{ new_section_form.title(class="new_section") }}
  {% for message in new_section_form.title.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <br>

  {{ new_section_form.wiki_title.label(class="new_section") }}
  {{ new_section_form.wiki_title() }}
  {% for message in new_section_form.wiki_title.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <br>

  {{ new_section_form.wiki_section.label(class="new_section") }}
  {{ new_section_form.wiki_section() }}
  {% for message in new_section_form.wiki_section.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <br>

  {{ new_section_form.submit }}

  <br>

</form>

{% endblock %}
