{% extends "base.html" %}
{% block content %}

<h1>{{ course.title }}</h1>

<form method="post" name="course_title">

  {{ course_title_form.hidden_tag() }}

  {{ course_title_form.title.label }}
  {{ course_title_form.title(value = course.title) }}
  {% for message in course_title_form.title.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  <br>
  
  {{ course_title_form.submit }}

</form>

<p>Sections:</p>

<table>
  <tr>
    <th>Position</th>
    <th>Title</th>
    <th>Wikipedia title</th>
    <th>Wikipedia section</th>
  </tr>
  {% for section in sections %}
    <tr>
      <td>{{ section.position }}</td>
      <td>{{ section.title }}</td>
      <td>{{ section.wiki_title }}</td>
      <td>{{ section.wiki_section }}</td>
    <tr>
  {% endfor %}
</table>

<p>Add new section:</p>

<form method="post" name="new_section">

  {{ new_section_form.hidden_tag() }}

  {{ new_section_form.title.label(class="new_section") }}
  {{ new_section_form.title(class="new_section") }}
  {% for message in new_section_form.title.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <br>

  {{ new_section_form.wiki_title.label(class="new_section") }}
  {{ new_section_form.wiki_title() }}
  {% for message in new_section_form.wiki_title.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <br>

  {{ new_section_form.wiki_section.label(class="new_section") }}
  {{ new_section_form.wiki_section() }}
  {% for message in new_section_form.wiki_section.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <br>

  {{ new_section_form.chapter.label(class="new_section_position") }}
  {{ new_section_form.chapter() }}

  {{ new_section_form.section.label(class="new_section_position") }}
  {{ new_section_form.section() }}

  {{ new_section_form.subsection.label(class="new_section_position") }}
  {{ new_section_form.subsection() }}

  {{ new_section_form.subsubsection.label(class="new_section_position") }}
  {{ new_section_form.subsubsection() }}

  <br>

  {{ new_section_form.submit }}

  <br>

</form>

{% endblock %}
